<div class="layout-column align-items-center mt-50">
    <section class="layout-row align-items-center justify-content-center">
        <input type="number" class="large" placeholder="Enter Year eg 2015" [formControl]="inputEntrada" data-test-id="app-input" />
        <button class="" type="submit" data-test-id="submit-button" [ngClass]="{'inputDisabled': inputEntrada.invalid || inputEntrada.value == null}" (click)="search()">Search</button>
    </section>

    <ul *ngIf="movies && movies.length > 0" class="mt-50 styled" data-test-id="movieList">
        <li *ngFor="let movie of movies" class="slide-up-fade-in py-10">{{movie.Title}}</li>
    </ul>

    <div *ngIf="movies && movies.length === 0" class="mt-50 slide-up-fade-in" data-test-id="no-result">
        No Results Found
    </div>
</div>